.movies, .calendar{
  text-decoration: none;
  letter-spacing: 3px;
  color: black;
  margin-right: 15px;
} 

.brand-name {
  margin-right: 20px;
  font-weight: bold;
}

.card {
  margin: 0 auto;
  position: relative;
  width: 450px;
  height: 500px;
  display: flex;
  padding-top: 15px;
  border: none;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
}

.card__photo {
  width: 450px;
  height: 500px;
}

.description {
  position: absolute;
  color: white;
  left: 0;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}

.description:hover {
  opacity: .5;
  background-color: black;
  transition: 0.3s;
}

/* .seat-button {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 40px;
  font-size: 24px;
  background-color: #FFFF;
  margin-left: 15px;
  border-radius: 5px;
  border-style: ridge;
}

.seat-button:hover {
  background-color: rgba(223, 172, 172, 0.5);
  transition: 0.5s;
}

label {
  height: 60px;
  width: 40px;
  
}


input {
  opacity: 0;
  height: 60px;
  width: 40px;
  cursor: pointer;
}

/* input:checked + label{
  background-color: black; 
}  */

label.checked {
  background-color: red; 
  border-radius: 5px;
  border-style: ridge;
  transition: 0.5s;
} */

.seat-booking {
  display: flex;
  flex-direction: column;
}

.seat-row {
  display: flex;
  flex-direction: row;
}

.seat {
  height: 60px;
  width: 40px;
  cursor: pointer;
  background-color: #FFFF;
  margin-left: 15px;
  border-radius: 5px;
  border-style: ridge;
 
}

.seat__booking {
  background-color: red; 
  border-radius: 5px;
  border-style: ridge;
  transition: 0.5s;
}

.seat__booked {
  background-color: gray; 
  border-radius: 5px;
  border-style: ridge;
  transition: 0.5s;
}