.movies, .calendar{
  text-decoration: none;
  letter-spacing: 3px;
  color: black;
  margin-right: 15px;
} 

.brand-name {
  margin-right: 20px;
  font-weight: bold;
}

.card {
  margin: 0 auto;
  position: relative;
  width: 450px;
  height: 500px;
  display: flex;  
  margin-top: 10px;
  border: none;
}

.card__photo {
  width: 450px;
  height: 500px;
}

.description {
  position: absolute;
  color: white;
  left: 0;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}

.description:hover {
  opacity: .5;
  background-color: black;
  transition: 0.3s;
}

button {
  height: 100px;
  width: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
  
}


.seat-booking {
  display: flex;
  flex-direction: column;
}

.seat-row {
  display: flex;
  flex-direction: row;
}

.seat {
  height: 60px;
  width: 40px;
  cursor: pointer;
  background-color: #FFFF;
  margin-left: 15px;
  border-radius: 5px;
  border-style: ridge;
 
}

.seat__booking {
  background-color: red; 
  border-radius: 5px;
  border-style: ridge;
  transition: 0.5s;
}

.seat__booked {
  background-color: gray; 
  border-radius: 5px;
  border-style: ridge;
  transition: 0.5s;
}